.accordion {
  $radius: 20;
  $icon-size: 48;
  position: relative;
  @media screen and (min-width: 744px) {
    width: 100%;
  }

  &__item {
    width: 100%;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
    box-shadow: 6px 6px 19px 0 rgba(148, 148, 148, 0.12);
    border-radius: 20px;
    @include media(1439) {
      max-width: none;
    }

    &:not(:first-of-type) {
      border-top: 0;
    }

    &:first-of-type {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:last-of-type {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      margin-bottom: 0;
    }

    border: 2px solid #fff;

    &.open {
      border: 2px solid transparent;
      background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(90deg, #FFBC3B 0.23%, #FF6051 50.08%, #FF4AB0 99.94%, #FF4AAC 99.94%) border-box;

      & .accordion__header {

        &:after {
          transform: rotate(180deg);
        }
      }

      & .accordion__content {
        display: block;
        max-height: 100%;
        padding: 0 16px 16px 16px;
      }

      @media screen and (min-width: 744px) {
        & .accordion__content {
          padding: 0 24px 16px 24px;
        }
      }
    }
  }


  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px;
    gap: 16px;
    transition: background 0.3s ease-in-out;


    &-text {
      letter-spacing: 0.5px;
      color: #353535;
      @include font(16px, 600, 24px);

      @media screen and (min-width: 744px) {
        letter-spacing: 0.5px;
        @include font(24px, 600, 52px);
      }
    }

    @include pseudocell(after, static) {
      content: "";

      display: flex;
      align-items: center;
      justify-content: center;
      $size: 40px;
      min-width: $size;
      width: $size;
      height: $size;
      max-height: $size;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 13.0913L17.4447 8L19 9.45436L12 16L5 9.45436L6.55531 8L12 13.0913Z' fill='%23C01760'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;

      transform: rotate(0deg);
      border-radius: 100px;

      border: 1px solid #FFD7E4;
      transition: transform 0.6s ease-in-out;

      @media screen and (min-width: 744px) {
        $size: 48px;
        min-width: $size;
        width: $size;
        height: $size;
        max-height: $size;
      }
    }
    @media screen and (min-width: 1200px) {
      padding: 14px 24px;
    }


  }

  &__content {
    display: none;
    max-height: 0;

    width: 100%;
    overflow: hidden;
    padding: 0 20px;

    color: #353535;
    @include font(16px, 400, 150%);

    letter-spacing: 0.5px;
    @include transition;


    @media screen and (min-width: 1200px) {
      font-size: 18px;
      padding: 0 24px 16px 24px;
    }
  }
}
