.page {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fullpage-section {
  width: 100vw;
  height: 100vh;
  background: #181818;

  &__wrapper {
    position: sticky;
    width: 100vw;
    height: 100vh;
    top: 0;
  }

  &__bg-img {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 2s;
    pointer-events: none;

    &.active a::before {
      pointer-events: all;
    }

    &.active {
      opacity: 1;
      transition: opacity 2s;
    }

    &:nth-child(2).active ~ .fullpage-section__scroll-btn a::after {
      background: linear-gradient(to bottom right, #3b5eff 0%, #a09eff 50%, #a838ff 100%);
    }

    &:nth-child(3).active ~ .fullpage-section__scroll-btn a::after {
      background: linear-gradient(to bottom right, #fe5a1a 0%, #ffbc3b 52%, #ff1919 100%);
    }

    &:nth-child(4).active ~ .fullpage-section__scroll-btn a::after {
      background: linear-gradient(to bottom right, #237427 0%, #e5f1af 41%, #a4d35f 100%);
    }
  }

  &__container {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    max-width: none;
    @include media(1728) {
      top: 43%;
    }
  }

  &__title {
    color: #fff;
    text-align: center;

    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0.04em;
    @include media(1728) {
      font-size: 74px;
      top: 42%;
      letter-spacing: 0.04em;
    }
    @include media(1200) {
      font-size: 52px;
      line-height: 59px;
    }
    @include media(768) {
      font-size: 36px;
      line-height: 1;
    }
  }

  &__sub-title {
    position: relative;

    span {
      text-align: center;
      white-space: nowrap;
      position: absolute;
      width: 100%;
      left: 0;
      opacity: 0;
      transition: opacity 2s;
      @include media(1268) {
        white-space: unset;
      }

      &.active {
        opacity: 1;
        transition: opacity 2s;
      }
    }

    & span:first-child {
      background: linear-gradient(90deg, #e1126e 0%, #ff996e 52%, #ff4a4a 82%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 90px;
      font-style: normal;
      font-weight: 600;
      line-height: 110px;
      letter-spacing: 0.9px;
      @include media(1728) {
        font-size: 75px;
        line-height: 86px;
        letter-spacing: 0.04em;
      }
      @include media(1200) {
        font-size: 53px;
        line-height: 62px;
      }
      @include media(768) {
        font-size: 36px;
        line-height: 1;
      }
    }

    & span:nth-child(2) {
      background: linear-gradient(90deg, #3b5eff 0%, #a09eff 50%, #a838ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 90px;
      font-style: normal;
      font-weight: 600;
      line-height: 110px;
      letter-spacing: 0.04em;
      @include media(1728) {
        font-size: 75px;
        line-height: 86px;
        letter-spacing: 0.04em;
      }
      @include media(1200) {
        font-size: 53px;
        line-height: 62px;
      }
      @include media(768) {
        font-size: 36px;
        line-height: 1;
      }
    }

    & span:nth-child(3) {
      background: linear-gradient(90deg, #fe5a14 0%, #ffbc3b 52%, #ff1919 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 90px;
      font-style: normal;
      font-weight: 600;
      line-height: 110px;
      letter-spacing: 0.04em;
      @include media(1728) {
        font-size: 75px;
        line-height: 86px;
        letter-spacing: 0.04em;
      }
      @include media(1200) {
        font-size: 53px;
        line-height: 62px;
      }
      @include media(768) {
        font-size: 36px;
        line-height: 1;
      }
    }

    & span:nth-child(4) {
      background: linear-gradient(90deg, #2ea380 0%, #e7f899 46%, #88d11d 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 90px;
      font-style: normal;
      font-weight: 600;
      line-height: 110px;
      letter-spacing: 0.04em;
      @include media(1728) {
        font-size: 75px;
        line-height: 86px;
        letter-spacing: 0.04em;
      }
      @include media(1200) {
        font-size: 53px;
        line-height: 62px;
      }
      @include media(768) {
        font-size: 36px;
        line-height: 1;
      }
    }
  }

  &__btns {
    & .fullpage-section__btn {
      pointer-events: none;

      &.active {
        pointer-events: all;
      }

      a {
        .background {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.04em;
          text-align: center;
          color: #f5f5f5;
          border-radius: 100px;
          width: 100%;
          height: 100%;
          transition: all 500ms ease;
        }

        span {
          color: #fff;
          position: absolute;
        }

        &:hover {
          filter: brightness(1);
          transition: all 500ms ease;
        }
      }
    }

    & .fullpage-section__btn:nth-child(1) {
      background: linear-gradient(89.94deg, #ffbc3b 30.89%, #ff4f40 60.43%, #ae1d6e 89.96%);

      a {
        position: relative;

        .background {
          background: linear-gradient(90deg, #ff9b3c 0%, #ff4f40 50%, #db3278 100%);

          filter: brightness(0.9);
          transition: all 500ms ease;

          &:hover {
            background: linear-gradient(90deg, #ff9b3c 0%, #ff4f40 50%, #db3278 100%);
            filter: brightness(1);
            transition: all 500ms ease;
          }
        }
      }
    }

    & .fullpage-section__btn:nth-child(2) {
      background: linear-gradient(89.95deg, #b9b8f6 0.04%, #3d5dd2 50.5%, #5d1695 99.96%);

      a {
        position: relative;

        .background {
          background: linear-gradient(90deg, #a2a1ec 0%, #4b6fed 48%, #962ee8 100%);
          filter: brightness(0.9);
          transition: all 500ms ease;

          &:hover {
            background: linear-gradient(90deg, #a2a1ec 0%, #4b6fed 48%, #962ee8 100%);
            filter: brightness(1);
            transition: all 500ms ease;
          }
        }
      }
    }

    & .fullpage-section__btn:nth-child(3) {
      background: linear-gradient(89.95deg, #ffc047 0.04%, #df5012 48.5%, #c40c0c 99.96%);

      a {
        position: relative;

        .background {
          background: linear-gradient(90deg, #ffbc3b 0%, #fe5a14 50%, #ff1919 100%);
          filter: brightness(0.9);
          transition: all 500ms ease;

          &:hover {
            background: linear-gradient(90deg, #ffbc3b 0%, #fe5a14 50%, #ff1919 100%);
            filter: brightness(1);
            transition: all 500ms ease;
          }
        }
      }
    }

    & .fullpage-section__btn:nth-child(4) {
      background: linear-gradient(90deg, #e7f899 0%, #e4f0af 0.01%, #97dd31 48.21%, #176850 100%);

      a {
        position: relative;

        .background {
          background: linear-gradient(90deg, #c8d979 0%, #88d11d 50%, #2ea380 100%);
          filter: brightness(0.9);

          &:hover {
            background: linear-gradient(90deg, #c8d979 0%, #88d11d 50%, #2ea380 100%);
            filter: brightness(1);
          }
        }
      }
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    top: 226px;
    transform: translateX(-50%);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    height: 48px;
    max-width: 228px;
    width: 100%;
    opacity: 0;
    transition: opacity 2s;
    display: flex;
    @include media(1728) {
      top: 214px;
      height: 43px;
      max-width: 202px;
    }
    @include media(1268) {
      top: 281px;
    }
    @include media(767) {
      top: 220px;
    }


    &.active {
      opacity: 1;
      transition: opacity 2s;
    }

    @include media(1440) {
      max-width: 256px;
    }
    @include media(767) {
      height: 48px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.04em;
      text-align: center;

      color: #f5f5f5;
      text-align: center;
      border-radius: 100px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);

      &:hover {
        background: linear-gradient(89.95deg, #a2a1ec 0.04%, #4b6fed 47.81%, #962ee8 99.96%);
      }
    }
  }

  &__scroll-btn {
    cursor: pointer;
    position: absolute;
    width: 60px;
    bottom: 50px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    transition: all 500ms ease;
    @include media(1728) {
      bottom: 38px;
      gap: 3px;
      p {
        font-size: 13px;
      }
    }

    a {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      overflow: hidden;
      transition: all 500ms ease;

      &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        border-radius: 50%;
        -webkit-mask: radial-gradient(farthest-side at 50% 50%, transparent 86%, black 90%);
        mask: radial-gradient(farthest-side at 50% 50%, transparent 86%, black 90%);
        z-index: 1;
        transition: all 500ms ease;
        background: linear-gradient(to bottom right, #e1126e, #ff996e 52%, #ff4a4a);
      }

      img {
        width: 24px;
        height: 24px;
        z-index: 3;
      }

      &:hover::after {
        background: #fff !important;
        transition: all 500ms ease;
      }
    }

    span {
      position: absolute;
      opacity: 0;
      transition: opacity 2s;

      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M13.0285 16.172L18.5456 10.808L20 12.222L12 20L4 12.222L5.45436 10.808L10.9715 16.172L10.9715 4L13.0285 4L13.0285 16.172Z" fill="white"/></svg>');
      width: 24px;
      height: 24px;

      &.active {
        opacity: 1;
        transition: opacity 2s;
      }
    }

    p {
      color: #fff;

      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
  }
}


.element-animation {
  margin: 2rem 0;
  font-size: 3rem;
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.section.last {
  height: auto;
}

@keyframes expandOutward {
  0% {
    width: 0%;
    left: 50%;
    opacity: 0;
  }
  100% {
    width: 100%;
    left: 0%;
    opacity: 1;
  }
}

@keyframes slideInWidth {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
