.vip {
  position: relative;
  background: #1b1b1b;
  width: 100vw;
  padding: 86px 0;
  @include media(1440) {
    padding: 64px 0;
  }
  @include media(767) {
    padding: 47px 0;
  }
  z-index: 0;

  &:after {
    content: " ";
    background-image: url("../images/vip/bgVip.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;

    position: absolute;
    top: 0;
    right: 0;
    max-width: 1335px;
    max-height: 650px;
    height: 100%;
    width: 100%;
    z-index: -1;

  }

  &__container {
    display: flex;
    flex-direction: column;

    @include media(1440) {
      justify-content: center;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1280px;


    }
    @media screen and (min-width: 1440px) {
      max-width: 1326px;
    }
  }
}

.vip-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 120px;

  @include media(1200) {
    margin-bottom: 48px;
    flex-direction: column;
  }

  &__title {
    @include font(24px, 600, 32px);
    letter-spacing: 0.5px;
    text-align: center;

    background: linear-gradient(89.95deg, #3b5eff 25.36%, #a09eff 49.29%, #a838ff 73.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
      @include font(44px, 600, 54px);
      letter-spacing: 0.5px;
      margin-bottom: 24px;
      text-align: left;
    }
  }

  &__text {
    @include font(24px, 400, 36px);
    letter-spacing: 0.5px;
    text-align: left;
    color: #a3a3a3;

    @include media(1200) {
      text-align: center;
      margin-bottom: 24px;
    }
    @include media(767) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }

}

.vip-block {
  display: flex;
  gap: 48px;
  @include media(1280) {
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include media(1024) {
    flex-direction: column;
  }

  &__item {
    flex: 1;
    position: relative;
    overflow: hidden;

    align-self: stretch;
    padding: 16px;

    border-radius: 16px;
    cursor: pointer;
    border: 1px solid #353535;
    background: linear-gradient(93.17deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 100%);
    transition: box-shadow 0.3s ease,
    transform 0.3s ease,
    border 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      background: radial-gradient(
                      circle at var(--x) var(--y),
                      #172b88 0%,
                      #172b88 25%,
                      hsla(0, 0%, 100%, 0) 50%,
                      transparent 80%
      );
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    &:hover::before {
      opacity: 0.3;
    }

    &:nth-of-type(2)::before {
      background: radial-gradient(
                      circle at var(--x) var(--y),
                      #364f6e 0%,
                      #364f6e 25%,
                      hsla(0, 0%, 100%, 0) 50%,
                      transparent 80%
      );
    }

    &:nth-of-type(3)::before {
      background: radial-gradient(
                      circle at var(--x) var(--y),
                      #4a0c7a 0%,
                      #4a0c7a 25%,
                      hsla(0, 0%, 100%, 0) 50%,
                      transparent 80%
      );
    }

    .light {
      display: none;
      position: absolute;
      left: -52px;
      top: -52px;
    }

    &:hover {
      & .light {
        display: block;
      }

      border: 1px solid #3b5eff80;
      background: linear-gradient(
                      105.31deg,
                      rgba(59, 94, 255, 0.1) 0.98%,
                      rgba(160, 158, 255, 0.1) 50.49%,
                      rgba(168, 56, 255, 0.03) 100%
      );

      .reward-block__check-hover {
        display: block;
      }

      .reward-block__check {
        display: none;
      }
    }

    @media screen and (min-width: 744px) {
      padding: 32px 48px;
      border-radius: 24px;
      max-width: 410px;
    }
    @media screen and (min-width: 1200px) {
      padding: 32px 48px;
      max-width: fit-content;
    }
  }

  &__title {

    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 16px;
    @include media(767) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 4px;
    }
  }

  &__text {
    @include font(14px, 400, 18px);
    letter-spacing: 0.5px;
    color: #a3a3a3;

    @media screen and (min-width: 744px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}


.vip-content__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  text-align: center;

  height: 48px;
  width: 100%;

  color: #F5F5F5;

  @include font(16px, 600, 100%);
  letter-spacing: 0.5px;

  border: 2px solid transparent;
  background: linear-gradient(89.95deg, #b9b8f6 0.04%, #3d5dd2 50.5%, #5d1695 99.96%) padding-box,
  linear-gradient(90deg, #B9B8F6 0.04%, #3D5DD2 50.5%, #5D1695 99.96%) border-box;
  @include transition;

  &:hover {
    background: linear-gradient(89.95deg, #b9b8f6 0.04%, #3d5dd2 50.5%, #5d1695 99.96%) padding-box,
    linear-gradient(90deg, #B9B8F6 0.04%, #3D5DD2 50.5%, #5D1695 99.96%) border-box;
  }

  @media screen and (min-width: 1200px) {
    max-width: 309px;
    height: 64px;
    font-size: 20px;
    background: linear-gradient(89.95deg, #1f4354 0.04%, #1f4354 50.5%) padding-box,
    linear-gradient(90deg, #B9B8F6 0.04%, #3D5DD2 50.5%, #5D1695 99.96%) border-box;
  }
}